# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some directories
!bootcamp_projects
!interview_practice
!python_practice
!think_python

# Whitelist some files
!.gitignore