# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some directories
!bootcamp_projects
!daily_coding_question
!leetcode
!python_practice
!think_python

# Whitelist some files
!.gitignore
